/* basic page styles */
*, *:before, *:after {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "helvetica neue", helvetica, arial, sans;
	font-size: 1em;
	color: #555;
	background-color: #333333;
	line-height: 1.5;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

h1, h2, .logo {
	font-family: "helvetica neue", helvetica, arial, sans;
	font-weight: normal;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
	margin: 2rem 0 0 0;
}

p {
	margin: 0 0 1em 0;
}

ul, ol {
	margin: 1em 0 1.5em 3em;
}

li {
	margin: 0 0 0.75em 0;
}

img {
	float: right;
	width: auto;
	height: auto;
	max-width: 50%;
	margin: 0 0 1em 1em;
	border: 0 none;
}

pre {
	font-size: 0.8rem;
	padding: 0.2em 0.4em;
	margin: 1em 0 1.5em 3em;
	background-color: #eff5ef;
	border-radius: 3px;
	overflow: auto;
}

code {
	font-family: Consolas, Menlo, "DejaVu Mono", monospace;
	color: #363;
	background-color: #eff5ef;
	border-radius: 3px;
	padding: 0 0.2em;
}

pre code {
	padding: 0;
}

a:link, a:visited {
	text-decoration: none;
	color: #66c;
}

a:hover, a:active {
	color: #c66;
}

.pagelist {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	line-height: 1.3;
}

.pagelist li {
	flex: 1 1 45%;
	margin: 0 1em 1em 0;
}

.pagelist a {
	display: block;
	height: 100%;
	padding: 5px 10px;
	border: 1px solid #333333;
	border-radius:0.5em;
	outline: 0 none;
	overflow: hidden;
}

.pagelist a:hover, .pagelist a:focus {
	background-color: #eeeeee;
	border-color: #333333;
}

.pagelist h2, .pagelist p {
	margin: 0;
}

.pagelist p {
	color: #333;
}

p.articleinfo {
	font-size: 0.8em;
	color: #777;
}

/* layout */
.content {
	max-width: 50em;
	padding: 0 0.5em;
	margin: 0 auto;
}

main {
	clear: both;
	background-color: #fff;
	overflow: auto;
}

article {
	margin-top:1em;
	padding: 1rem 0;
}

header, footer {
	clear: both;
	width: 100%;
	overflow: auto;
	background-color: #333333;
}

header {
	padding-top: 0.5em;
}

footer {
	font-size: 0.85em;
	padding: 1em;
        color: #999999;
	text-align: center;
}

footer a:link, footer a:visited {
	color: #dddddd;
}

footer p {
	margin: 0;
}

.logo {
	font-size: 1.5em;
	margin: 0.2em 0 0.5em 0;
}

.logo a {
	padding: 0.2em 0;
	color: #dddddd;
}

.icon {
	float:left;
        margin:0 1em 0 -4em;
}

.icon img {
	height: 3em;
	width: 3em;
	max-width:100%;
        margin:0;
}

li img {
	height: 2em;
	width: auto;
	max-width:100%;
        margin:0.5em 0.2em -0.5em -2.5em;
	float:none;
}

/* navigation */
.nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
}

.nav li {
	flex: 1 1 100%;
	margin: 0;
}

.nav a, .nav strong {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 0.5em 0;
}

.nav.main a {
	color: #dddddd;
}

.nav a.active, .nav strong {
	background-color: #555555;
	color: #dddddd;
}

.nav.page {
	margin-top: 1.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

@media (min-width: 16em) {

	.nav li {
		flex: 1 1 50%;
	}

}

@media (min-width: 32em) {

	header {
		position: fixed;
		top: 0;
	}

	.logo {
		float: left;
	}

	.nav.main {
		float: right;
	}

	.nav li {
		flex: 1 1 auto;
	}

	.nav.main li {
		width: 8em;
	}

	main {
		padding: 3em 0 2em 0;
	}

	.subpages .content {
		display: flex;
	}

	.subpages article {
		flex: 1 1 70%;
		min-width: 0;
	}

	.subpages .nav.sub {
		flex: 1 1 30%;
		margin: 1em 0 1em 2rem;
		float: right;
	}

	.nav.sub ul {
		margin-top: 1em;
		flex-direction: column;
		border-top: 1px solid #333333;
	}

	.nav.sub li {
		border-bottom: 1px solid #333333;
	}

	.nav.sub a, .nav.sub strong {
		text-align: left;
		padding-left: 0.75em;
	}

	.nav.page a {
		text-align: left;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	.nav.page a.next {
		text-align: right;
	}

}
