<!DOCTYPE html>
<html>
<head>
{{> meta }}
</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93009659-1', 'auto');
  ga('send', 'pageview');

</script>

{{> header }}

<main{{#if navsub}} class="subpages"{{/if}}>

	<div class="content">

		<article>

			{{> navsub }}

			<h1>{{ title }}</h1>

			{{#if isPage}}
			{{else}}

				<p class="articleinfo">Published {{ dateFormat }}, {{ wordCount }} words, {{ readingTime }}-minute read</p>

			{{/if}}
			
			{{#if embed_before }}

				{{{ embed_before }}}

			{{/if}}

			{{{ contents }}}

			{{#if embed }}

				{{{ embed }}}

			{{/if}}

			{{#if isPage}}

				{{> pagelist }}

			{{else}}

				<nav class="nav page">
					<ul>

					{{#if previous.title }}
						<li><a href="{{ root }}{{ previous.path }}/" class="back">&laquo; back: {{ previous.title }}</a></li></p>
					{{/if}}

					{{#if next.title }}
						<li><a href="{{ root }}{{ next.path }}/" class="next">next: {{ next.title }} &raquo;</a></li></p>
					{{/if}}

					</ul>
				</nav>

			{{/if}}

			</article>

		</div>

</main>

{{> footer template='article' }}

</body>
</html>
